<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend API List</title>

    <style>
      #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #customers td,
      #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #customers tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #customers tr:hover {
        background-color: rgb(231, 122, 122);
      }
      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04aa6d;
        color: white;
      }
      #method {
        background-color: rgb(196, 43, 43);
      }
      #no {
        width: 10px;
      }
      #name {
        width: 55px;
      }
      #url {
        width: 70px;
      }
      #method2 {
        width: 45px;
      }
      #payload {
        width: 225px;
      }
    </style>
  </head>

  <body>
    <h1 style="background-color: rgba(64, 66, 190, 0.178); text-align: center">
      Backend API list || Developed by Md.Tajal Islam
    </h1>
    <h3 style="text-align: center">Company Name: AI bees</h3>
    <hr />
    <p style="text-align: center"><i>Module Name:</i><b>All</b></p>
    <p style="text-align: center">
      <i>Root-Url:</i><b>http://localhost:3001/api</b>
    </p>

    <hr style="height: 6px; background-color: rgb(165, 177, 177)" />

    <table id="customers">
      <!-- column name  -->
      <tr>
        <th id="no">Name</th>
        <th id="url">Path</th>
        <th id="method2">Method</th>
        <th id="payload">Payload</th>
        <th id="name">Responce</th>
        <th>Details</th>
      </tr>

      <!-- 1.Home Page API  -->
      <tr>
        <td>Home.</td>
        <td>/</td>
        <td><span id="method">GET</span></td>
        <td>N/A</td>
        <td>Home page</td>
        <td>N/A</td>
      </tr>

      <!-- 2.Sign-up API  -->
      <tr>
        <td>SIGN-UP</td>
        <td>/sign-up</td>
        <td><span id="method">POST</span></td>
        <td>
          <pre>
{
    "userName": "Md Tajal Islam",
    "email": "mdtajalislam1188@gmail.com",
    "password": "123456"
}        </pre
          >
        </td>
        <td>
          <pre>
  {
      "userName": "Md Tajal Islam",
      "email": "mdtajalislam1188@gmail.com",
      "password": "123456"
  }        </pre
          >
        </td>
        <td>
          Success Message
          <li>200:Create sucessfully!</li>
          <br />
          Following errors may occur
          <li>400:Required!</li>
          <li>400:Must be string!</li>
          <li>400:Minimum length 6 characters!</li>
          <li>400:Must be email format!</li>
          <li>424:Please try again!</li>
          <li>406:Already taken! try different one.</li>
          <li>500:Inernal error! Wait or inform to Greeho.com.</li>
        </td>
      </tr>
      <!-- --------------------------------------------------------------------------------------------- -->
      <!-- 2.Sign-up API  -->
      <tr>
        <td>SIGN-IN</td>
        <td>/sign-in</td>
        <td><span id="method">POST</span></td>
        <td>
          <pre>
{
"email": "mdtajalislam1188@gmail.com",
"password": "123456"
}        </pre
          >
        </td>
        <td>
          <pre>
"token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
eyJpZCI6MSwidXNlck5hbWUiOiJNZCBUYWphbCBJc2xhbSIs
ImVtYWlsIjoibWR0YWphbGlzbGFtMTE4OEBnbWFpbC5jb20iLCJz
dGF0dXMiOnRydWUsInNvZnREZWxldGUiOnRydWUsImNyZWF0ZW
RBdCI6IjIwMjEtMDktMTZUMTI6NDA6MTUuMDA3WiIsInVwZGF0ZWRBd
CI6IjIwMjEtMDktMTZUMTI6NDA6MTUuMDA3WiIsImlhdCI6
MTYzMTc5NjAyMn0.6kTlcg5FIoNhoFkqJH3QwOm2dXpIssEWT13jVGdSnG0"</pre
          >
        </td>
        <td>
          Success Message
          <li>200:login success!</li>
          <br />
          Following errors may occur
          <li>401:You are not registered user.Please sign up frist!</li>
          <li>406:Please entry correct password.</li>
          <li>500:Inernal error! Wait or inform to Greeho.com.</li>
        </td>
      </tr>

      <!-- ------------------------------------------------------------------------------------- -->

      <!-- 3.Discount API  -->
      <tr>
        <td>Discount</td>
        <td>/discount</td>
        <td><span id="method">POST</span></td>
        <td>
          <pre>
{
"expireDate": "2/3/2221",
"isActive": true,
"percentage":12
}      </pre
          >
        </td>
        <td>
          <pre>
{
"discount": {
"id": 1,
"discountCode": "197326",
"percentage": 12,
"expireDate": "2221-02-02T18:00:00.000Z",
"isActive": true,
"updatedAt": "2021-09-16T14:39:41.093Z",
"createdAt": "2021-09-16T14:39:41.093Z",
"softDelete": false
}
}</pre
          >
        </td>
        <td>
          Success Message
          <li>200:Create successfully!</li>
          <br />
          Following errors may occur
          <li>424:424:Please try again!</li>
          <li>500:Inernal error! Wait or inform to Greeho.com.</li>
        </td>
      </tr>

      <!-- 4.Category API  -->
      <tr>
        <td>Category</td>
        <td>/category</td>
        <td><span id="method">POST</span></td>
        <td>
          <pre>
{
  "category":"clothe",
  "discountId":1
}     </pre
          >
        </td>
        <td>
          <pre>
{
  "createCategory": {
      "id": 1,
      "category": "clothe",
      "discountId": 1,
      "updatedAt": "2021-09-16T14:46:30.565Z",
      "createdAt": "2021-09-16T14:46:30.565Z"
  }
}</pre
          >
        </td>
        <td></td>
      </tr>

      <!-- ............................................  -->

      <!-- 5.SubCategory API  -->
      <tr>
        <td>SubCategory</td>
        <td>/sub-category</td>
        <td><span id="method">POST</span></td>
        <td>
          <pre>
{
  "subCategory":"ladis",
  "discountId":1,
  "categoryId":1
}     </pre
          >
        </td>
        <td>
          <pre>
{
  "createSubCategory": {
      "id": 1,
      "subCategory": "ladis",
      "discountId": 1,
      "categoryId": 1,
      "updatedAt": "2021-09-16T14:51:59.242Z",
      "createdAt": "2021-09-16T14:51:59.242Z"
  }
}</pre
          >
        </td>
        <td></td>
      </tr>
      <!-- ---------------------------------------------------------  -->
      <!-- 6.Product API  -->
      <tr>
        <td>Product</td>
        <td>/product</td>
        <td><span id="method">POST</span></td>
        <td>
          <pre>
{
  "productName":"shirt", 
  "price":125, 
  "discountId":1, 
  "subCategoryId":1
}     </pre
          >
        </td>
        <td>
          <pre>
{
  "product": {
      "id": 1,
      "productName": "shirt",
      "price": 125,
      "discountId": 1,
      "subCategoryId": 1,
      "updatedAt": "2021-09-16T14:54:56.683Z",
      "createdAt": "2021-09-16T14:54:56.683Z"
  }
}
</pre
          >
        </td>
        <td></td>
      </tr>

      <!-- ---------------------------------------------------------  -->
      <!-- 7.Product API  -->
      <tr>
        <td>Invoice</td>
        <td>/invoice</td>
        <td><span id="method">POST</span></td>
        <td>
          <pre>
  {
    "unit":2, 
    "discountCode":"401282", 
    "productId":1
}    </pre
          >
        </td>
        <td>
          <pre>
{
  "invoice": {
      "id": 1,
      "unit": 2,
      "discountCode": "401282",
      "productId": 1,
      "finalAmmount": 250,
      "discountPercentage": null,
      "totalDiscount": null,
      "payableAmmount": 250,
      "userId": 1,
      "updatedAt": "2021-09-16T15:44:13.014Z",
      "createdAt": "2021-09-16T15:44:13.014Z"
  }
}
</pre
          >
        </td>
        <td></td>
      </tr>


            <!-- ---------------------------------------------------------  -->
      <!-- 8.Product API  -->
      <tr>
        <td>Invoice</td>
        <td>/invoice</td>
        <td><span id="method">GET</span></td>
        <td>
          <pre>
    </pre
          >
        </td>
        <td>
          <pre>
{
  "invoice": {
      "id": 1,
      "unit": 2,
      "discountCode": "401282",
      "productId": 1,
      "finalAmmount": 250,
      "discountPercentage": null,
      "totalDiscount": null,
      "payableAmmount": 250,
      "userId": 1,
      "updatedAt": "2021-09-16T15:44:13.014Z",
      "createdAt": "2021-09-16T15:44:13.014Z"
      "user":{
        "id":1,
        "userName":"userName",
        "email":"Email"
      }
  }
}
</pre
          >
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
